body {
  overflow-y: hidden;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.image {
  display: none;
  width: 90%;
}

/* Next & previous buttons */
#prev {
  position: absolute;
  top: 43%;
  left: 0;
  cursor: pointer;
  padding: 16px;
  color: rgb(191, 206, 59);
  font-weight: 500;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next {
  position: absolute;
  top: 43%;
  right: 0;
  cursor: pointer;
  padding: 16px;
  color: rgb(191, 206, 59);
  font-weight: 500;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#prev:hover,
#next:hover {
  background: rgba(0, 0, 0, 0.5);
}

.dots {
  text-align: center;
  margin-top: 2%;
  /* background-color: #717171; */
  padding-left: 230px;
}

.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /* transition from one do to the next */
  transition: background-color 0.6s ease;
}

/* We create this class with JavaScript. It makes the current dot darker gray */
.active {
  background-color: #717171;
}

/* create fade animation when switching between images */
.fade {
  /* Animation support for different browsers */
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Мой блок */

.map {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  /* background-color: #717171; */
  margin-left: 200px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #e8b9e4 0%,
    #fafb1e 51%,
    #e8b9e4 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

a:visited {
  color: black;
}

a:hover {
  background-position: right center;
}

/* конец */

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
